@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "OpenSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 8px;
  overflow: hidden;
  min-height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  color: #708598;
  font-size: 12px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top .location :last-child {
  margin-right: 8px;
}

.header__top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top .nav :nth-child(2) {
  margin: 0 24px;
}

.header__top .nav :last-child {
  position: relative;
  margin: 0 25px 0 0;
}

.header__top .nav :last-child::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 2px;
  border: solid #708598;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px 4px 4px 5px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.header__bottom_catalog {
  margin-left: 30px;
}

.header__bottom_catalog button {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  background-color: #fed83d;
  height: 40px;
  width: 135px;
  border-radius: 4px;
}

.header__bottom_catalog button .bgm {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.header__bottom_list {
  height: 40px;
  width: 110px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom_list img {
  padding: 0 8px 0 0;
}

.header__bottom_prfile {
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #9b51e0;
}

.autocomplite {
  position: relative;
}

.autocomplite::after {
  content: "";
  position: absolute;
  right: 2%;
  top: 10px;
  height: 20px;
  width: 20px;
  background-image: url("./../img/search.png");
}

.autocomplite input {
  border: 1px solid #708598;
  border-radius: 4px;
  width: 520px;
  height: 40px;
}

.autocomplite_results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
}

.autocomplite_result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplite_result:hover {
  background-color: #6fcdd5;
  color: white;
}
@supports (-webkit-appearance:none){
.autocomplite::after{background-image:url("./../img/search.webp")}
}
